{% extends 'gym_app/base.html' %}
{% block content %}

<div class="container" style="margin-left:140px; padding-bottom: 60px">

    <p>We are VerVar Group and our passion is climbing! If yours is too, then you are in the right place!</p>

    <p>Armenia has incredible terrain for outdoor climbing, from the gorges of Hell's Canyon to the mountains of Dilijan
        the breathtaking views compliment the challenging and fun climbs you will experience.</p>

    <p>But what do you do when you can't get out of town for the day?</p>
    <p>You come to us! Right in the middle of the city center!
    <p>With 200 square meter of climbing surface, and routes set by professional mountaineers, we bring
        a little bit of the outdoors, inside...ain, hail or shine!</p>

</div>

{% endblock %}