{% load static %}
<!doctype html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'gym_app/styles.css' %}" type="text/css">
</head>
{% endblock %}
{% block title %}
<title></title>
{% endblock %}
<body>

<a href="/gym_app/static"><img src="{% static 'gym_app/logo-Placeholder.png' %}"></a>
{% block content %}
{% endblock %}

</body>
<footer>
    <br>
    <br>The current time is {{ context_now }} | Website Version {{ context_version }}</br>
    <br>{{context_weather}}</br>
    <br>Hello {{context_user}}</br>
    <br>
</footer>
</html>