{% extends 'gym_app/base.html' %}
{% block content %}
<div class="success-message">
   <p> test</p>
</div>
<h3>Reset password for {{user.first_name}} with membership number {{ user.username}}</h3>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button-55" value="Change Password">
</form>
<br>

{% if incorrect_password %}
<div class="error-message">
   <p> {{ incorrect_password }}</p>
</div>
{% endif %}

{% if password_updated %}
<div class="success-message">
<p>{{ password_updated }}</p>
</div>
{% endif %}
{% endblock %}