{% extends 'gym_app/base.html' %}
{% block content %}
<title>Change Password </title>
<div class="container" style="margin-left:140px; padding-bottom: 60px">
    <h4>Change Password </h4>
    <br>
    <h6>Change password for {{user.first_name}} with membership number {{ user.username}}</h6>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div style="font-size: smaller; line-height: 0.5">
            <p>* minimum 8 characters</p>
            <p>* must contain a capital letter</p>
            <p>* must contain a special character</p>
        </div>
        <br>
        <input type="submit" class="button-55" value="Change Password">
    </form>
    <br>

    {% if incorrect_password %}
    <div class="error-message">
        <p> {{ incorrect_password }}</p>
    </div>
    {% endif %}

    {% if password_updated %}
    <div class="success-message">
        <p>Password successfully updated</p>
    </div>
    {% endif %}
</div>
{% endblock %}