{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<div style="margin-left:140px; padding-bottom: 60px; width: 4000px">

    <p>Come check us out, right in the center of Yerevan at Republic square!</p>
    <div style="overflow: hidden ">
        <img src="{% static 'gym_app/locationmap.jpg' %}" width="100%" height="100%">
    </div>
    <br>
    <p>If you have any questions, please call or email us. We will be happy to hear from you!</p>
    <p>Phone | +374 43 10 10 10</p>
    <p>Email | info@vervar.com</p>
</div>


{% endblock %}