{% extends 'gym_app/base.html' %}
{% block content %}
<title>Edit Member Details</title>
<h4>Edit Member Details</h4>
<br>
<p>Membership Number | {{ user.member_number }} </p>
{% if updated %}
<br>

<div class="success-message">
    Details updated successfully!
</div>
{% endif %}


<p><a href="/change-membership-number/">Change membership number here</a></p>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button-55" value="Save Details">
</form>


{% endblock %}