{% extends 'gym_app/base.html' %}
{% block content %}
<div class="container" style="margin-left:140px; padding-bottom: 60px">
    <p>We want climbing to be accessible by everyone, and have a range of visit options to best suit your training
        needs.</p>
    <br>
    <p>But what do you do when you can't get out of town for the day?</p>
    <p>You come to us! Right in the middle of the city center!
    <p>With 200 square meter of climbing surface, and routes set by professional mountaineers, we bring
        a little bit of the outdoors, inside...rain, hail or shine!</p>
    <br>
    <h4>Casual Visit</h4>
    <table class="table table-bordered">
        <thead class="thead-format">
        <tr>
            <td>Adults</td>
            <td></td>
            <td>Kids</td>
            <td></td>
            <td>Extras</td>
            <td></td>
        </tr>
        </thead>
        <tr>
            <td>Casual Visit</td>
            <td>3000 AMD</td>
            <td>Casual Visit</td>
            <td>2000 AMD</td>
            <td>Shoe Hire Hire</td>
            <td>1000 AMD</td>
        </tr>
        <tr>
            <td>10 Visits</td>
            <td>27000 AMD</td>
            <td>10 Visits</td>
            <td>17000 AMD</td>
            <td>Harness Hire</td>
            <td>1000 AMD</td>
        </tr>

    </table>
    <br>
    <br>
    <h4>Monthly Memberships</h4>
    <table class="table table-bordered">
        <thead class="thead-format">
        <tr>
            <td>Adults</td>
            <td></td>
            <td>Kids</td>
            <td></td>

        </tr>
        </thead>
        <tr>
            <td>1 Month</td>
            <td>25000 AMD</td>
            <td>1 Month</td>
            <td>2000 AMD</td>
        </tr>
        <tr>
            <td>3 Month</td>
            <td>7500 AMD</td>
            <td>3 Month</td>
            <td>6000 AMD</td>
        </tr>
        <tr>
            <td>6 Month</td>
            <td>14000 AMD</td>
            <td>6 Month</td>
            <td>11000 AMD</td>
        </tr>
        <tr>
            <td>12 Month</td>
            <td>250000 AMD</td>
            <td>12 Month</td>
            <td>210000 AMD</td>
        </tr>
    </table>
    <p></p>
</div>
{% endblock %}